body
    {
        font-size:15px;
    }

em
    {
        font-style: normal;
        color: red;
        font-size: 15px;
        font-weight:bold;

    }
    
    
.small
    {
        font-size: 15px;
        font-weight:bold;
    }
